@model IEnumerable<SchemeForFarmers.Areas.Bidder.Models.CropBidDetail>
<div>
    <partial name="BackgroundPartial"></partial>
</div>
<div class="container">
    <div class="row">
        <div class="card mx-auto my-5 shadow p-3 mb-5  rounded text-center card">
            <div class="card-body">

                <table class="table table-striped">
                    <thead class="table-dark" id="tb">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.CropType)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CropName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Quantity)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.BasePrice)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Bid)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="table">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/auction.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
