@model IEnumerable<SchemeForFarmers.Areas.Bidder.Models.BidderDetail>

@{
    ViewData["Title"] = "BidderDetails";
}
<div>
    <partial name="BackgroundPartial"></partial>
</div>
<div class="container">
    <div class="row">
        <div class="card mx-auto my-5 shadow p-3 mb-5  rounded text-center">
            <div class="card-body">
                <h4 class="card-title">Bidder Details</h4>

                <table class="table table-striped">
                    <thead class="table-dark">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.BidderId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.BName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.BContact)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.BAddress)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.BAccountNo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.BIfscCode)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.BAadhar)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.BPan)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.BLicense)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IsVerified)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BidderId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BContact)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BAddress)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BAccountNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BIfscCode)
                                </td>
                                <td>
                                    <a href="~/PDF/@Html.DisplayFor(modelItem => item.BAadhar)">AadharCard</a>
                                </td>
                                <td>
                                    <a href="~/PDF/@Html.DisplayFor(modelItem => item.BPan)">PanCard</a>
                                </td>
                                <td>
                                    <a href="~/PDF/@Html.DisplayFor(modelItem => item.BLicense)">License</a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IsVerified)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>