@model IEnumerable<SchemeForFarmers.Areas.Farmer.Models.ClaimInsurance>

@{
    ViewData["Title"] = "ClaimInsuranceValidation";
}
<div>
    <partial name="BackgroundPartial"></partial>
</div>
<div class="container">
    <div class="row">
        <div class="card mx-auto my-5 shadow p-3 mb-5  rounded text-center">
            <div class="card-body">
                <h4 class="card-title">Claim Insurance Validation</h4>
                @{
                    if (ViewBag.record != null)
                    {
                        <partial name="NoRecord"></partial>
                    }
                    else
                    {

                        <table class="table table-striped">
                            <thead class="table-dark">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.InsuranceId)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.InsuranceCompany)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TotalSumInsured)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.FarmerName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CauseOfLoss)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DateOfLoss)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.IsApproved)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.InsuranceId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.InsuranceCompany)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TotalSumInsured)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FarmerName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CauseOfLoss)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DateOfLoss)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IsApproved)
                                        </td>
                                        <td>
                                            <a type="submit" class="btn btn-outline-primary" asp-action="ApproveUser" asp-route-id="@item.ClaimId">Approve</a> |
                                            <a type="submit" class="btn btn-outline-primary" asp-action="RejectUser" asp-route-id="@item.ClaimId">Reject</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                }
            </div>
        </div>
    </div>
</div>