@model IEnumerable<SchemeForFarmers.Areas.Farmer.Models.CropAuctionDetail>
<div>
    <partial name="BackgroundPartial"></partial>
</div>
<div class="container">
    <div class="row">
        <div class="card mx-auto my-5 shadow p-3 mb-5  rounded text-center">
            <div class="card-body">
                <h4 class="card-title">Crops Bids Details</h4>

                <table class="table table-striped">
                    <thead class="table-dark">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.FarmerId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CropType)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CropName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Quantity)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.BasePrice)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IsSold)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FarmerId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CropType)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CropName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Quantity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BasePrice)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IsSold)
                                </td>
                                <td>
                                    <a type="submit" class="btn btn-outline-primary" asp-action="BidDetails" asp-route-id="@item.CropId">Details</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>